name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

# cancel in-progress runs on new commits to same PR (gitub.event.number)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  Check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 9.15.3
          run_install: true
      - run: GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} && pnpm run check

  Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 9.15.3
          run_install: true
      - run: GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} && pnpm run test:unit
